version: '3.7'

services:
  database:
    container_name: database
    image: "postgres:12.2"
    environment:
        POSTGRES_USER: ${POSTGRES_USER}
        POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
        PGDATA: /data/postgres
    volumes:
       - ./database/data:/data/postgres
    ports:
      - "${DB_SERVER_PORT}:5432"
    networks:
      - database
    restart: unless-stopped

  database-client:
    container_name: database-client
    image: dpage/pgadmin4
    environment:
        PGADMIN_DEFAULT_EMAIL: ${PGADMIN_DEFAULT_EMAIL}
        PGADMIN_DEFAULT_PASSWORD: ${PGADMIN_DEFAULT_PASSWORD}
    volumes:
       - ./database/client:/root/.pgadmin
    ports:
      - "${DB_CLIENT_PORT}:80"
    networks:
      - database
    restart: unless-stopped

networks:
  database:
    driver: bridge
